@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import "./breakpoints.scss";
@import "./variables.scss";

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.lh {
  line-height: 1.25rem;
}

ol {
  list-style: disc;
  list-style-position: inside;
}

.text--link {
  color: $accent;

  &:hover {
    text-decoration: underline;
  }
}