@use "./breakpoints" as *;
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

html {
  font-size: 16px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.lh {
  line-height: 1.25rem;
}

ol {
  list-style: disc;
  list-style-position: inside;
}

.text--link {
  color: $accent;

  &:hover {
    text-decoration: underline;
  }
}
